<!DOCTYPE html>
<html>
<head>
	<title>Sample site</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<header class="header">
				<div class="nav">
					<ul class="nav-list">
						<li><b>Brand</b></li>
						<li class="active">Frontpage</li>
						<li>Portfolio</li>
						<li>Blog</li>
						<li>Documentation</li>
						<li>Contact</li>
						<li>Login</li>
					</ul>
				</div>
			</header>
			<div class="heading">
				<h1>Sample Heading</h1><br>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br> the industry's standard dummy text ever since the 1500s</p>
				<div><br>
					<button class="b1">Button</button>
					<button class="b2">Button</button>
				</div>
			</div>
			<div class="items">
				<div>
					<img src="../images/icon1.jpg" alt="icon 1">
					<h3>Some heading</h3>
					<span>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
					</span>
				</div>
				<div>
					<img src="../images/icon2.jpg" alt="icon 2">
					<h3>Some heading</h3>
					<span>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
					</span>
				</div>
				<div>
					<img src="../images/icon3.jpg" alt="icon 3">
					<h3>Some heading</h3>
					<span>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
					</span>
				</div>
				<div>
					<img src="../images/icon4.jpg" alt="icon 4">
					<h3>Some heading</h3>
					<span>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
					</span>
				</div>
				<div>
					<img src="../images/icon5.jpg" alt="icon 5">
					<h3>Some heading</h3>
					<span>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
					</span>
				</div>
				<div>
					<img src="../images/icon6.jpg" alt="icon 6">
					<h3>Some heading</h3>
					<span>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
					</span>
				</div>
			</div>
			<div class="section1">
				<img src="../images/conan.jpg" alt="Conan">
				<div>
					<h2>Heading</h2><br>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p><br>
					<h4>Subheading</h4><br>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. Contrary to popular belief, Lorem Ipsum is not simply random text. Lorem Ipsum is not simply random text. Contrary to popular belief, Lorem Ipsum is not simply random text.</p><br>
					<button class="b3">Button</button>
				</div>
			</div>
			<div class="section2">
				<div>
					<h2>Heading</h2><br>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p><br>
					<h4>Subheading</h4><br>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. Contrary to popular belief, Lorem Ipsum is not simply random text. Lorem Ipsum is not simply random text. Contrary to popular belief, Lorem Ipsum is not simply random text.</p><br>
					<button class="b3">Button</button>
				</div>
				<img src="../images/guinea_lion.jpg" alt="Guinea Lion">
			</div>
			<footer class="footer">
				<p><b>Homo homini lupus est.</b> Quod liced Iovi non liced bovi. Sic transit gloria mundi
				<button class="b3">Button</button></p>
			</footer>
			<h2>Our Clients</h2><br>
			<div class="clients-images">
				<div><img src="../images/Orc_Gorbag_1.jpg" alt="Gorbag"></div>
					<div><img src="../images/Orc_Mauhur_1.jpg" alt="Mauhur"></div>
					<div><img src="../images/Orc_Rambo1.jpg" alt="Rambo"></div>
					<div><img src="../images/Orc_Shagrat1.jpg" alt="Shagrat"></div>
					<div><img src="../images/Orc_Snaga_1.jpg" alt="Snaga"></div>
					<div><img src="../images/Orc_Ugluk_1.jpg" alt="Ugluk"></div>
			</div>
		</div>
	</div>
</body>
</html>